  {{> header}}

  <main>

    {{#if collections.products }}
      <aside id="sidebar">

        <h3>Buy Now</h3>

        {{#each collections.products }}
          <div class="product">
            <a href="{{ this.url }}"><img src="{{ data.image }}" alt="{{ title }}"></a>
          </div>
        {{/each}}

      </aside>
    {{/if}}

    <div id="content" class="content">
      <div id="articles">
        {{ reverse collections.publishedArticles }}
        {{ limit collections.publishedArticles 12 }}

        {{#each collections.publishedArticles }}
          <div class="article">

            <h4><a href="{{ this.url }}">{{ data.title }}</a></h4>

            {{#if data.image}}
              <img src="{{ data.image }}" class="preview">
            {{/if}}

            <p>{{{ preview data.content }}}... <a href="{{ this.url }}">read more!</a></p>
          </div>
        {{/each}}
      </div>
    </div>

  </main>

  {{> footer}}
  {{> analytics}}

</body>
</html>
