  {{> header}}

  <main>

    {{#if articles }}
      <aside id="sidebar">
        {{#each articles }}
          <h5><a href="/{{ path }}">Blog: {{ title }}</a></h5>
          <p>{{ preview }} <a href="/{{ path }}">read more!</a></p>
        {{/each}}
      </aside>
    {{/if}}

    <div id="content" class="content">
      <h2>Products</h2>

      <p>The following grisly monographs are available from the <strong class="title"><a href="https://www.dmsguild.com/browse.php?author=R.G.%20Wood">Dungeon Masters Guild</a></strong>:</p>

      <div id="products">
        {{#if products }}
        {{#each products }}
          <div class="product">
            <a href="/{{ path }}"><img src="{{ image }}" alt="{{ title }}"></a>
          </div>
        {{/each}}
        {{/if}}
      </div>
    </div>

  </main>

  {{> footer}}
  {{> analytics}}

</body>
</html>
