  {{> header}}

  <main>

    {{#if products }}
      <aside id="sidebar">

        <h3>Buy Now</h3>

        {{#each products }}
          <div class="product">
            <a href="/{{ path }}"><img src="{{ image }}" alt="{{ title }}"></a>
          </div>
        {{/each}}

      </aside>
    {{/if}}

    <div id="content" class="content">
      <div id="articles">
        {{#each articles }}
          <div class="article">
            <h4><a href="/{{ path }}">{{ title }}</a></h4>

            {{#if image}}
              <img src="{{ image }}" class="preview">
            {{/if}}

            <p>{{ preview }} <a href="/{{ path }}">read more!</a></p>
          </div>
        {{/each}}
      </div>
    </div>

  </main>

  {{> footer}}
  {{> analytics}}

</body>
</html>
