  {{> header}}

  <main class="post">

    <article>
      <header>
        <aside id="sidebar" class="products">
          <h4>Buy Now!</h4>

          {{#if products }}
          {{#each products }}
            <div class="product">
              <a href="/{{ path }}"><img src="{{ image }}" alt="{{ title }}"></a>
            </div>
          {{/each}}
          {{/if}}
        </aside>

        <h2 id="title">{{ title }}</h2>
      </header>

      <div class="content">
        {{{ contents  }}}
      </div>

    </article>
  </main>

  {{> footer}}
  {{> analytics}}

</body>
</html>
